@model BlogSitesi.Model.Media
@{
    ViewBag.Title = "Kategori Ekle";
}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-000">Kategoriler</h1>
        <a href="@Url.Action("Index","Media")" class="btn btn-sm btn-primary shadow-sm">Listeye Dön</a>
    </div>

    <h1 class="h3 mb-2 text-gray-800">Kategoriler</h1>
    <p class="mb-4">
        Burada yeni kategori eklenebilir.
    </p>

    @Html.Raw(ViewResultExtensions.ViewResult(ViewBag.Result))

    <div class="card shadow mb-4">
        <div class="card-body">
            <form action="/Media/Add" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" placeholder="Title" name="Title" value="@Model.Title">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" placeholder="Alt" name="MetaTitle" value="@Model.Alt">
                </div>
                <div class="form-group">
                    <input type="file" class="form-control form-control-user"name="file">
                </div>

                <div class="form-group row">
                    <button type="submit" class="btn btn-success">Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>